@import "tailwindcss";

:root {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #f6f6f6; /* Light gray background like mockup */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

div,
button,
input {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #5b67e8;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
